body{
    background-color: #281d8b;
    background-attachment: scroll;

    background: #281d8b url("anonymous.jpg") no-repeat center center;
    background-color: #281d8b;
    /* background-size: cover; */
    /* background-size: 90% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    height: calc(100vh); */
}

body.no-scroll{
    /*background-color: rgba(1, 0, 3, 0.966);*/
    overflow: hidden;
}
.jumbotron{
    font-family: 'Roboto Mono', monospace;
    color: whitesmoke;

    background: #000000 url("anonymous.jpg") no-repeat center center;
    background-color: #000000;
    /* background-size: cover; */
    background-size: 90% 100%;
    -moz-background-size: 90% 100%;
    -webkit-background-size: 90% 100%;
    -o-background-size: 90% 100%;
    height: calc(100vh);
} 